$mobile: 320px;
$tablet: 768px;
$desktop: 1060px;

//All devices
.novidades-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 60px;

	.novidades-left {
		width: 488px;
		margin-top: 60px;
		
	}
	.novidades-right {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		.novidades-right-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 25px;
			padding: 20px;
			width: 280px;
			height: 190px;
			background: #fdfcff;
			box-shadow: 0px 32px 40px -10px rgba(14, 12, 52, 0.05);
			border-radius: 24px;

			h3 {
				text-align: left;
				width: 216px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.novidades-main {
		margin-top: 0px;
		.novidades-left {
			padding: 10px;


			h6 {
				text-align: center;
			}

			p {
				text-align: center;
				color: rgba(14, 12, 52, 0.8);
			}
		}

		.novidades-right {
			.novidades-right-item {
				justify-content: center;
				width: 220px;
				margin: 15px;
				h3 {
					text-align: center;
					width: 200px;
					font-size: 18px;
				}
			}
		}
	}
}

@media screen and (min-width: $tablet) {
	.novidades-main {
		.novidades-left {
			width: 488px;
			text-align: center;
			

			h2 {
				text-align: center;
				margin: 0;
			}

			h6 {
				text-align: center;
			}

			p {
				text-align: center;
			}
		}

		.novidades-right {
			.novidades-right-item {
				padding: 10px;
				text-align: left;
			
			h3 {
				text-align: left;
			}

			}
		}
	}
}

@media screen and (min-width: $desktop) {
	.novidades-main {

		.novidades-left {
			margin-top: 100px;
			width: 488px;
			text-align: center;
			margin-right: 60px;

			h2 {
				text-align: left;
			}

			h6 {
				text-align: left;
			}

			p {
				text-align: left;
			}
		}

		.novidades-right {
			.novidades-right-item {
				padding: 10px;
			
			h3 {
				text-align: left;
				
			}
			}
		}
	}
}

