$mobile: 320px;
$tablet: 768px;
$desktop: 1060px;

.funcionalidades-main {
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.funcionalidades-left {
		background-image: url("../../assets/background-section.png");
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
	}

	.funcionalidades-right {
        hr {
           border: 0.8px solid #E4E4F7
        }
	}
}

@media screen and (min-width: $mobile) {
	.funcionalidades-main {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		padding: 0px;
		.funcionalidades-left {
			background-image: url("../../assets/background-section.png");
            background-size: 320px;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			width: 320px;
			margin: 0px;
			margin-top: 30px;

            img {
                width: 264px;
            }
		}

		.funcionalidades-right {
			width: 300px;
			margin: 0px;
		}
	}
}

@media screen and (min-width: $tablet) {
	.funcionalidades-main {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		.funcionalidades-left {
			background-image: url("../../assets/background-section.png");
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			width: 518px;
			margin: 50px;

			h6 {
				text-align: center;
			}

               img {
                width: 410px;
            }
		}

		.funcionalidades-right {
			width: 608px;
		}
	}
}

@media screen and (min-width: $desktop) {
	.funcionalidades-main {
		display: flex;
        flex-direction: row;
		align-items: center;
		justify-content: center;
		.funcionalidades-left {
			background-image: url("../../assets/background-section.png");
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			justify-content: center;
			width: 518px;
			margin: 10px;
		}

		.funcionalidades-right {
			width: 488px;
			padding: 5px;
		}
	}
}
