$mobile: 320px;
$tablet: 768px;
$desktop: 1060px;

//All Devices

.header {
	hr {
		border: 2px solid rgba(250, 250, 255, 0.8);
		opacity: 0.1;
	}

	.nav-main {
		margin: auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.nav-left {
			justify-self: flex-start;
			margin-left: 30px;
		}

		.nav-right {
			justify-self: end;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				font-weight: 400;
				font-size: 16px;
				line-height: 20.8px;
				text-align: center;
				text-decoration: none;
				padding: 20px;
				color: rgba(250, 250, 255, 0.8);
			}
		}
	}

	.main {
		display: flex;
		justify-content: center;
		align-content: center;
		max-width: 70%;
		margin: auto;

		.left-section {
			color: #ecebf5;
			display: flex;
			flex-direction: column;

			img {
				width: 150px;
				height: 48px;
				border-radius: 8px;
			}
		}

		.right-section {
			display: flex;
			justify-content: center;
			align-content: center;
		}
	}
}

@media screen and (min-width: $mobile) {
	.header {
		background-image: url("../../assets/mobile/background.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.main {
		align-items: center;
		min-height: 786px;
		flex-direction: column;

		.left-section {
			align-items: center;
			text-align: center;

			h1 {
				font-size: 28px;
				font-style: normal;
				font-weight: 600;
				line-height: 39.2px;
				margin-top: 40px;
				margin-bottom: 0px;
				margin-right: 0px;
			}

			p {
				width: 290px;
				color: rgba(250, 250, 255, 0.8);
			}

			.download-app {
				display: flex;
				align-items: center;

				img {
					padding: 2px;
				}
			}
		}

		.right-section {
			.device2 {
				margin-top: 200px;
				margin-left: 10px;
				margin-right: -70px;
			}

			.device1 {
				margin-top: 80px;
			}

			img {
				width: 182.19px;
				height: 325.22px;
			}
		}
	}
}

@media screen and (min-width: $tablet) {
	.header {
		background-image: url("../../assets/tablet/background.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center top;
		height: 1237px;

		.nav-main {
			width: 715px;
			align-items: center;
			justify-content: center;
			gap: 440px;
		}

		.main {
			align-items: center;
			flex-direction: column;

			.left-section {
				align-items: center;
				text-align: center;
				width: 70%;

				h1 {
					font-size: 48px;
					font-style: normal;
					font-weight: 600;
					line-height: 67.2px;
					width: 596px;
				}

				p {
					width: 512px;
					color: rgba(250, 250, 255, 0.8);
				}

				.download-app {
					display: flex;
					align-items: center;

					img {
						margin: 10px;
					}
				}
			}

			.right-section {
				.device2 {
					margin-top: 250px;
					margin-right: -85px;
				}

				.device1 {
					margin-top: 80px;
				}

				img {
					width: 265.09px;
					height: 473.2px;
				}
			}
		}
	}
}

@media screen and (min-width: $desktop) {
	.header {
		background-image: url("../../assets/background_header.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		height: 852px;

		.nav-main {
			width: 1216px;
			padding: 10px 60px 10px;
			gap: 0px;
			justify-content: space-between;
		}

		.main {
			width: 1216px;
			flex-direction: row;
			gap: 30px;
			align-items: flex-start;
			justify-content: space-between;

			.left-section {
				flex-direction: column;
				text-align: left;
				align-items: flex-start;
				width: fit-content;

				h1 {
					width: 592px;
					font-size: 48px;
					font-style: normal;
					font-weight: 600;
					line-height: 67.2px;
					margin-top: 100px;
				}

				p {
					width: 488px;
					color: rgba(250, 250, 255, 0.8);
				}

				img {
					width: 150px;
					height: 48px;
					border-radius: 8px;
				}
			}

			.right-section {
				.device2 {
					margin-top: 180px;
					margin-left: 0px;
					margin-right: -95px;
				}

				.device1 {
					margin-right: 0px;
					margin-left: -20px;
					margin-top: 35px;
				}

				img {
					width: 265.09px;
					height: 473.2px;
				}
			}
		}
	}
}
