$mobile: 320px;
$tablet: 768px;
$desktop: 1060px;

//All Devices

.header {
	hr {
		border: 2px solid rgba(250, 250, 255, 0.8);
		opacity: 0.1;
	}

	.nav-main {
		margin: auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.color-nav {
			background-color: rgba(0, 255, 0, 1);
		}

		.navbar-nav {
			align-items: flex-start !important;
			justify-content: space-between !important;
		}

		a {
			font-weight: 400;
			font-size: 16px;
			line-height: 20.8px;
			text-align: center;
			text-decoration: none;
			padding: 20px;
			color: rgba(250, 250, 255, 0.8) !important;
		}

		.dropdown-menu {
			background-color: rgba(250, 250, 255, 0) !important;
			min-width: 5rem !important;
			border: 2px solid #FAFAFF !important;
			border-radius: 8px !important;
		}

		.dropdown {

			.dropdown-item {

				img {
					width: 19px !important;
					height: 14px;
				}

				a {
				.active {
					background-color:rgba(38, 38, 39, 0.8) !important;
					color: black !important;
				}
			}
			}
		}

		.navbar-toggler {
			border: none !important;
		}

		.navbar-toggler-icon {
			background-image: url("../../assets/mobile/header/hamburguer.svg");
		}

		.nav-left {
			justify-self: flex-start;
			margin-left: 30px;
		}

		.nav-right {
			justify-self: end;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				font-weight: 400;
				font-size: 16px;
				line-height: 20.8px;
				text-align: center;
				text-decoration: none;
				padding: 20px;
				color: rgba(250, 250, 255, 0.8);
			}
		}
	}

	.main {
		display: flex;
		justify-content: center;
		align-content: center;
		margin: auto;

		.left-section {
			color: #ecebf5;
			display: flex;
			flex-direction: column;

			img {
				width: 150px;
				height: 48px;
				border-radius: 8px;
			}
		}

		.right-section {
			display: flex;
			justify-content: center;
			align-content: center;
		}
	}
}

@media screen and (min-width: $mobile) {
	.header {
		background-image: url("../../assets/mobile/header/background.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: top center;

		.nav-main {
			align-items: center;
		}
	}

	.main {
		flex-wrap: wrap;
		align-items: center;
		min-height: 786px;
		flex-direction: column;

		.left-section {
			align-items: center;
			text-align: center;

			h1 {
				font-size: 28px;
				font-style: normal;
				font-weight: 600;
				line-height: 39.2px;
				margin-top: 40px;
				margin-bottom: 0px;
				margin-right: 0px;
				width: 304px;
			}

			p {
				width: 290px;
				color: rgba(250, 250, 255, 0.8);
			}

			.download-app {
				display: flex;
				align-items: center;

				img {
					padding: 2px;
				}
			}
		}

		.right-section {
			.device2 {
				margin-top: 200px;
				margin-left: 10px;
				margin-right: -70px;
			}

			.device1 {
				margin-top: 80px;
			}

			img {
				width: 306.56px;
				height: 439.27px;
				margin-top: 50px;
			}
		}
	}
}

@media screen and (min-width: $tablet) {
	.header {
		background-image: url("../../assets/tablet/header/background.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center top;
		height: 1237px;

		.nav-main {
			width: 715px;
			align-items: center;
			justify-content: center;
			gap: 350px;
		}

		.main {
			flex-wrap: wrap;
			align-items: center;
			flex-direction: column;

			.left-section {
				align-items: center;
				text-align: center;
				width: 70%;

				h1 {
					font-size: 48px;
					font-style: normal;
					font-weight: 600;
					line-height: 67.2px;
					width: 596px;
				}

				p {
					width: 512px;
					color: rgba(250, 250, 255, 0.8);
				}

				.download-app {
					display: flex;
					align-items: center;

					img {
						margin: 10px;
					}
				}
			}

			.right-section {
				img {
					width: 443.5px;
					height: 635.48px;
					margin-top: 70px;
				}
			}
		}
	}
}

@media screen and (min-width: $desktop) {
	.header {
		background-image: url("../../assets/header/background_header.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: 50% 0%;
		height: auto;
		

		.nav-main {
			width: 100%;
			max-width: 1216px;
			padding: 5px;
			gap: 0px;
			justify-content: space-between;

			.nav-left {
				justify-self: flex-start;
				margin-left: 0px;
			}
		}

		.main {
			width: 100%;
			max-width: 1216px;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: nowrap;
			padding: 30px;

			.left-section {
				flex-direction: column;
				text-align: left;
				align-items: flex-start;
				width: fit-content;

				h1 {
					width: 592px;
					font-size: 48px;
					font-style: normal;
					font-weight: 600;
					line-height: 67.2px;
					margin-top: 100px;
				}

				p {
					width: 488px;
					color: rgba(250, 250, 255, 0.8);
				}

				img {
					width: 150px;
					height: 48px;
					border-radius: 8px;
				}
			}

			.right-section {
				.mockup {
					margin-top: 75px;
				}

				img {
					width: 443.5px;
					height: 635.48px;
				}
			}
		}
	}
}
