$mobile: 320px;
$tablet: 768px;
$desktop: 1060px;

body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: $mobile) {
	h1 {
		margin:0px;
	}

	h2 {
		text-align: center;
		line-height: 33.6px;
		font-weight: 600;
		font-size: 24px;
		color: #0e0c34, 100%;
	}

	h3 {
		line-height: 27px;
		font-weight: 500;
		font-size: 18px;
	}

	h4 {
		line-height: 25.2px;
		font-size: 18px;
		font-weight: 600;
		color: #0e0c34;
	}

	h5 {
		line-height: 25.2px;
		font-size: 18px;
		font-weight: 600;
		color: #0e0c34;
		margin: 0;
	}

	h6 {
		text-align: left;
		margin: 2px;
		font-size: 18px;
		line-height: 25.2px;
		font-weight: 500;
		color: #2D5DD3;

	}

	p {
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 22.7px;
	}
}

@media screen and (min-width: $tablet) {
	body {
		h2 {
			text-align: center;
			line-height: 140%;
			font-weight: 600;
			font-size: 32px;
			color: #0e0c34, 100%;
		}

		h3 {
			line-height: 27px;
			font-weight: 500;
			font-size: 18px;
		}

		h4 {
			line-height: 33.6px;
			font-size: 24px;
			font-weight: 600;
			color: #0e0c34;
		}

		h5 {
			line-height: 25.2px;
			font-size: 18px;
			font-weight: 600;
			color: #0e0c34;
			margin: 0;
		}

		h6 {
			text-align: left;
			margin: 2px;
			font-size: 18px;
			line-height: 25.2px;
			font-weight: 500;
			color: #2D5DD3;

	}

		p {
			font-size: 18px;
			font-style: normal;
			font-weight: normal;
			line-height: 28.8px;
		}
	}
}

@media screen and (min-width: $desktop) {
	h2 {
		text-align: left;
		line-height: 44.8px;
		font-weight: 600;
		font-size: 32px;
		color: #0e0c34, 100%;
	}

	h3 {
		line-height: 27px;
		font-weight: 500;
		font-size: 18px;
	}

	h4 {
		line-height: 33.6px;
		font-size: 24px;
		font-weight: 600;
		color: #0e0c34;
	}

	h5 {
		line-height: 25.2px;
		font-size: 18px;
		font-weight: 600;
		color: #0e0c34;
		margin: 0;
	}

	h6 {
		text-align:left;
		margin: 2px;
		font-size: 18px;
		line-height: 25.2px;
		font-weight: 500;
		color: #2D5DD3;

	}

	p {
		width: 488px;
		font-size: 18px;
		font-style: normal;
		font-weight: normal;
		line-height: 28.8px;
	}
}
